<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="WebSharper" namespace="IntelliFactory.WebSharper.Web" assembly="IntelliFactory.WebSharper"/>
				<add tagPrefix="ws" namespace="WebSharperProject" assembly="WebSharperProject"/>
			</controls>
		</pages>
		<httpModules>
			<add name="WebSharper" type="IntelliFactory.WebSharper.Web.Module, IntelliFactory.WebSharper"/>
		</httpModules>
		<compilation debug="true" targetFramework="4.0"/></system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="WebSharper" type="IntelliFactory.WebSharper.Web.Module, IntelliFactory.WebSharper"/>
		</modules>
	</system.webServer>
</configuration>
